{% extends "base_admin2.html" %}

<!-- Page title goes here -->
{% block header %}
Create Leave Credits
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">{{employee.surname|title}} , {{employee.first_name|title}} {{employee.middle_name|title}}</a></li>
    <li class="breadcrumb-item active">Create Leave</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Training Create Page -->
  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }} for {{ field.name}}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form action="" method="POST" class="post-form">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Leave Form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Period</label>
                  <input type="date" class="form-control" name="period" value="{{leave.period|date:"Y-m-d"}}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Particulars</label>
                  <input type="text" class="form-control" name="particulars" value="{{leave.particulars}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Vacation Leave (EARNED)</label>
                  <input type="text" class="form-control" name="vacation_earned" value="{{leave.vacation_earned}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Vacation Leave (ABSENCE UNDERTIME W/ PAY)</label>
                  <input type="text" class="form-control" name="vacation_wpay" value="{{leave.vacation_wpay}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Vacation Leave (ABSENCE UNDERTIME W/O PAY)</label>
                  <input  type="text" class="form-control" name="vacation_wopay" value="{{leave.vacation_wopay}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sick Leave (EARNED)</label>
                  <input type="text" class="form-control" name="sick_earned" value="{{leave.sick_earned}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sick Leave (ABSENCE UNDERTIME W/ PAY)</label>
                  <input type="text" class="form-control" name="sick_wpay" value="{{leave.sick_wpay}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sick Leave (ABSENCE UNDERTIME W/O PAY)</label>
                  <input type="text" class="form-control" name="sick_wopay" value="{{leave.sick_wopay}}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea name="remarks" class="form-control" rows="5">{{leave.remarks}}</textarea>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->        
            </div>
            <!-- /.row -->

          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Item -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">SAVE</button>  
    </div>  
  </div>
</div>
   <div class="card-footer">
   </div>
 </div>

  <br><br><br>
</form>  
{% endblock %}