{% extends "base2.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}
OTHER INFORMATION Update Page
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">REFERENCES  Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Other Information -->

<br>
<form method="POST" class="post-form" action="/pds/refferencesUpdate/{{refer.id}}">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">VIII.  OTHER INFORMATION (REFERENCES)</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" class="form-control" name="name" required maxlength="100" value="{{ refer.name }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" name="address" required maxlength="100" value="{{ refer.address }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Contact</label>
                  <input type="text" class="form-control" name="phone" required maxlength="100" value="{{ refer.phone }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Childre information -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>    | 
    <a href="/pds/personalinfo4" class="btn btn-danger">Back</a>
    </div>  
  </div>
</div>

  <br><br><br>
</form>  
{% endblock %}