 {% extends "base_admin3.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}

{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/pds">PDS</a></li>
    <li class="breadcrumb-item active">PAGE 1</li>
</ol>
{% endblock breadcrumb %}

{% block menu %}
<li class="nav-item">
   <a href="/pds/page1/{{pds.id}}" class="nav-link">
    <i class="fas fa-user"></i>
    <p> &nbsp;&nbsp;Page 1</p>
  </a>
</li>
<li class="nav-item">
   <a href="/pds/page2/{{pds.id}}" class="nav-link">
    <i class="fas fa-user"></i>
    <p> &nbsp;&nbsp;Page 2</p>
  </a>
</li>
<li class="nav-item">
   <a href="/pds/page3/{{pds.id}}" class="nav-link">
    <i class="fas fa-user"></i>
    <p> &nbsp;&nbsp;Page 3</p>
  </a>
</li>
<li class="nav-item">
   <a href="/pds/page4/{{pds.id}}" class="nav-link">
    <i class="fas fa-user"></i>
    <p> &nbsp;&nbsp;Page 4</p>
  </a>
</li>
{% endblock menu %}

<!-- Page Content goes here -->
{% block content %}
<div class="row" >
  <div class="col" ><b>CS FORM 212</b> <br><i>Revised 2017</i></div>
</div>
<div class="row" >
  <div class="col" ><h1 align="center"><br><b>PERSONAL DATA SHEET</b></h1><br></div>
</div>
<div class="row" >
  <div class="col" ><b>WARNING: Any misrepresentation made in the Personal Data Sheet and the Work Experience Sheet shall cause the filing of administrative/criminal case/s against the person concerned.</b></div>
</div>
<div class="row" >
  <div class="col" ><b>READ THE ATTACHED GUIDE TO FILLING OUT THE PERSONAL DATA SHEET (PDS) BEFORE ACCOMPLISHING THE PDS FORM.</b></div>
</div>

<div class="row" >
  <div class="col" >Print legibly. Tick appropriate boxes (     ) and use separate sheet if necessary.</div>
  <div class="col" >Indicate N/A if not applicable.  DO NOT ABBREVIATE.</div>
  <div class="col-sm" style="background-color:gray; color:white;border-style: solid ;border-width: 2px;">1. CS ID No.</div>
  <div class="col" style="border-style: solid ;border-width: 2px;"><p align="right">(to be filled up by CSC)</p></div>
</div>
<div class="row" >
  <div class="col" style="background-color:gray;"><h3 style=" color:white;"> I. PERSONAL INFORMATION </h3></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">2. SURNAME</div>
  <div class="col-sm-10" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.surname|upper}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">FIRST NAME</div>
  <div class="col-sm-5" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.first_name|upper}}</h3></b></div>  
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">3. NAME EXTENSION (e.g. Jr., Sr.)</div>
  <div class="col-sm-3" style="border-style: solid ;border-width: 2px;"><b><h3>
  {% if  pds.ext_name == "None" %}
  N/A
  {% else %}
  {{ pds.ext_name|upper}}
  {% endif %}
</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">MIDDLE NAME</div>
  <div class="col-sm-10" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.middle_name|upper}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">DATE OF BIRTH (mm/dd/yyyy)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.birth_date|date:"m/d/Y"}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">CITIZENSHIP</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>{{pds.citizenship|title}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">Place of Birth</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.birth_place}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">If holder of  dual citizenship, </div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">SEX</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.sex}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">please indicate the details.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>
  {% if  pds.citizen_detail == "None" %}
  N/A
  {% else %}
  {{ pds.citizen_detail}}
  {% endif %}
  </h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">CIVIL STATUS</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.civil_status}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">RESIDENTIAL ADDRESS</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>{{pds.res_numstreet}} {{pds.res_brgy}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">HEIGHT (m)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.height}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;"></div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>{{pds.res_city}} {{pds.res_province}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">WEIGHT (kg)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.weight}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">ZIP CODE</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.res_zip}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">BLOOD TYPE</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.blood_type}}</h3></b></div>
    <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;"></div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3></h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">GSIS ID NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.gsis}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">PERMANENT ADDRESS</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>
  {% if  pds.perma_numstreet == "None" %}
  N/A
  {% else %}
  {{ pds.perma_numstreet}}
  {% endif %}
  {% if  pds.perma_brgy == "None" %}
  {% else %}
  {{ pds.perma_brgy}}
  {% endif %}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">PAG-IBIG ID NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.pagibig}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">PERMANENT ADDRESS</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>
  {% if  pds.perma_city == "None" %}
  {% else %}
  {{ pds.perma_city}}
  {% endif %}
  {% if  pds.perma_province == "None" %}
  {% else %}
  {{ pds.perma_province}}
  {% endif %}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">PHILHEALTH NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.philhealth}}</h3></b></div>
    <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">ZIP CODE</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>
  {% if  pds.perma_zip == "None" %}
  {% else %}
  {{ pds.perma_zip}}
  {% endif %}
  </h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">SSS NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.sss}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">19. TELEPHONE NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.telephone}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">TIN</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.tin}}</h3></b></div>  
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">CELLPHONE NO. (if any)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.mobile}}</h3></b></div>
</div>
<div class="row" >  
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">AGENCY EMPLOYEE NO.</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.emp_number}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">E-MAIL ADDRESS (if any)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.email}}</h3></b></div>
</div>

<div class="row" >
  <div class="col" style="background-color:gray;"><h3 style=" color:white;"> I. FAMILY BACKGROUND </h3></div>
</div>
<div class="row" >
  <div class="col-sm-7" >
    <table style="width:100%">
      <tr>
        <!-- Wife Details -->
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">SPOUSE'S SURNAME</td>
        <td style=";border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.spouse_surname == "None" %}
        N/A
        {% else %}
        {{ pds.spouse_surname|upper}}
        {% endif %}
      </h3></td>
      </tr>
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">FIRST NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.spouse_name == "None" %}
        N/A
        {% else %}
        {{ pds.spouse_name|upper}}
        {% endif %}
      </h3></td>
      </tr>
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">MIDDLE NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.spouse_middle == "None" %}
        N/A
        {% else %}
        {{ pds.spouse_middle|upper}}
        {% endif %}
      </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">OCCUPATION</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.spouse_occupation == "None" %}
        N/A
        {% else %}
        {{ pds.spouse_occupation|upper}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">EMPLOYER/BUS. NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.emb_biz == "None" %}
        N/A
        {% else %}
        {{ pds.emb_biz}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">BUSINESS ADDRESS</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.emb_biz_add == "None" %}
        N/A
        {% else %}
        {{ pds.emb_biz_add}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">TELEPHONE NO.</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.phone == "None" %}
        N/A
        {% else %}
        {{ pds.phone}}
        {% endif %}
        </h3></td>
      </tr>
      <!-- Father -->
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;" colspan="2"> <p align="center" style="color: red;"><br>(Continue on separate sheet if necessary)</p></td>
      </tr>
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">FATHER'S SURNAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.dad_surname == "None" %}
        N/A
        {% else %}
        {{ pds.dad_surname}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">FIRST NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.dad_name == "None" %}
        N/A
        {% else %}
        {{ pds.dad_name}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">MIDDLE NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.dad_middle == "None" %}
        N/A
        {% else %}
        {{ pds.dad_middle}}
        {% endif %}
        </h3></td>
      </tr>
      <!-- Mother -->
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;" colspan="2"> <p><br>MOTHER'S MAIDEN NAME</p></td>
      </tr>
      <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">SURNAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.mom_surname == "None" %}
        N/A
        {% else %}
        {{ pds.mom_surname}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">FIRST NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.mom_name == "None" %}
        N/A
        {% else %}
        {{ pds.mom_name}}
        {% endif %}
        </h3></td>
      </tr>
       <tr>
        <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">MIDDLE NAME</td>
        <td style="border-style: solid ;border-width: 1px;"><h3>
        {% if  pds.mom_middle == "None" %}
        N/A
        {% else %}
        {{ pds.mom_middle}}
        {% endif %}
        </h3></td>
      </tr>

    </table></div>
      <div class="col-sm-5" >
        <table style="width:100%">
          <!-- children List -->
          <tr>
            <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"> NAME OF CHILD (Write full name and list all)</td>
            <td style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"> DATE OF BIRTH (mm/dd/yyyy)</td>
          </tr>
          {% if children %}
            {% for child in children %}
          <tr>
            <td style="border-style: solid ;border-width: 1px;">
              <h3>{{ child.name }}</h3>
            </td>
            <td style="border-style: solid ;border-width: 1px;">
               <h3>{{ child.birth_date|date:"m/d/Y" }}</h3>
            </td>
          </tr>
                    {% endfor %}
            {% else %}
            {% endif %}

            {% if childs == 0 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;">N/A</td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 1 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 2 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 3 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 4 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 5 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 6 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 7 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 8 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

            {% if childs == 9 %}
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              <tr>
                <td style="border-style: solid ;border-width: 1px;"> </td>
                <td style="border-style: solid ;border-width: 1px;"><h3> -- /-- / ---- </h3></td>
              </tr>
              {% endif %}

          </table>
      </div>
    </div>
<!-- Educational Background -->
    <div class="row" >
        <div class="col" style="background-color:gray;"><h3 style=" color:white;"> III.  EDUCATIONAL BACKGROUND </h3></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><br>LEVEL</div>
     <div class="col-sm-4" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><br> NAME OF SCHOOL</div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><br>DEGREE COURSE</div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><br>YEAR GRADUATED</div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">HIGHEST GRADE/ LEVEL/                     UNITS EARNED  </div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">INCLUSIVE DATES OF ATTENDANCE</div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">INCLUSIVE DATES OF ATTENDANCE</div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;">SCHOLARSHIP/ ACADEMIC HONORS RECEIVED</div>
    </div>

   {% if education %}
      {% for edu in education %}
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.level}}</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.school}}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.course}}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.grad_year}}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.units}}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.date_from }}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.date_to }}</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>{{edu.honors}}</h4></b></div>
    </div>
      {% endfor %}
    {% else %}
      <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4><br>ELEMENTARY</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4>N/A</h4></b></div>
    </div>

     <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4><br>SECONDARY</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>

    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4><br>VOCATIONAL /                                                                                                                                                                                                        TRADE COURSE</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>

    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4><br>COLLEGE</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>

    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4>GRADUATE STUDIES</h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    {% endif %}

    {% if educs == 1 %}
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    {% endif %}

    {% if educs == 2 %}
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    {% endif %}

    {% if educs == 3 %}
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    {% endif %}

    {% if educs == 4 %}
    <div class="row" align="center">
     <div class="col-sm-2" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-4" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4> -- /-- / ---- </h4></b></div>
     <div class="col-sm-1" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
    </div>
    {% endif %}

    <div class="row" >
      <div class="col" style="background-color:lightgray;"><p align="center" style="color: red;"><br>(Continue on separate sheet if necessary)</p></div>
    </div>
    <div class="row" align="center">
     <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><b><h4>SIGNATURE</h4></b></div>
     <div class="col-sm-6" style="border-style: solid ;border-width: 1px;"><b><h4></h4></b></div>
     <div class="col-sm-1" style="background-color:#E6E7E6;border-style: solid ;border-width: 1px;"><b><h4>DATE</h4></b></div>
     <div class="col-sm-3" style="border-style: solid ;border-width: 1px;"><b><h2>{{today}}</h2></b></div>
    </div>
    <div class="row" >
      <div class="col"><p align="right"><br> CS FORM 212 (Revised 2017),  <b>Page 1 of 4</b></p></div>
    </div>
{% endblock %}