{% extends "base_project.html" %}
 
{% block header %}Update Project  Details{% endblock header %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Airport Profile</a></li>
    <li class="breadcrumb-item active">
        Airport List
    </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
{% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }} for {{ field.name}} </strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}

<form method="POST" action="/dashboard/project_update/{{ project.id }}" class="post-form">  
   {% csrf_token %}  
  <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Airport Information</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Location</label>                  
                  <input type="text" name="location" value=" {{ project.location }} " class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Title</label>                  
                  
                  <input type="text" name="title" value=" {{ project.title }} " class="form-control">
                </div>
              </div>
            </div>
            <!-- /.row -->
        </div>
    </div>


        <div class="card card-primary">
          <div class="card-header">
           <h3 class="card-title">Funding & Contract Information</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group ">
                  <label>Description</label>    
                  <textarea id="summernote_desc" name="description">{{ project.description }}</textarea>
                </div>
              </div>              
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Funding Company</label>     
                  <select name="fund_org" class="custom-select form-control"  id="id_status">
                  <option>{{ project.fund_org }}</option>
                  <option value="CAAP">CAAP</option>
                  <option value="DOTr">DOTr</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Funding Amount</label>    
                  <input type="text" class="form-control" name="fund_amount" value="{{ project.fund_amount }}">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Funding Year</label>    
                  <input type="text" class=" form-control" name="fund_year" value="{{ project.fund_year }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Mode of Implementation</label>    
                  <input type="text" class="form-control" name="contract_mi" value="{{ project.contract_mi }}">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Contractor</label>    
                  <input type="text" class="form-control" name="contract_contractor" value="{{ project.contract_contractor }}">
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Contract Amount</label>    
                  <input type="text" class=" form-control" name="contract_amount" value="{{ project.contract_amount }}" required>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Revised contract amount due to VO #1</label>    
                  <input type="text" class=" form-control" name="contract_rev1" value="{{ project.contract_rev1 }}">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Revised contract amount due to VO #2</label>    
                  <input type="text" class=" form-control" name="contract_rev2" value="{{ project.contract_rev2 }}">
                </div>
              </div>  

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Duration (Calendar Days)</label>    
                  <input type="text" class=" form-control" name="duration" value="{{ project.duration }}">
                </div>
              </div>  

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Start Date</label>    
                  <input type="date" class=" form-control" name="start" value="{{ project.start|date:"Y-m-d" }}">
                </div>
              </div>  

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Completion Date</label>    
                  <input type="date" class=" form-control" name="original" value="{{ project.original|date:"Y-m-d" }}">
                </div>
              </div>  

              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Revised Completion Date</label>    
                  <input type="date" class=" form-control" name="revised" value="{{ project.revised|date:"Y-m-d" }}">
                </div>
              </div>          
            <!-- /.row -->
            </div>



            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Project Status</label>    
                  <textarea id="summernote_status_desc" name="status_desc">{{ project.status_desc }}</textarea>
                </div>
              </div>             
            <!-- /.row -->
            </div>
        </div>
        </div>


        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Project Information</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Status</label>                  
                  
                  <select name="status" class="custom-select form-control"  id="id_status">
                  <option>{{ project.status }}</option><option value="Completed">Completed</option>
                  <option value="DED">Detailed Engineering</option>
                  <option value="On- going">On-Going</option>
                  <option value="Others">Others</option>
                  <option value="Processing of POW & Plans">Processing of POW & Plans</option>
                  <option value="SAC">Site Acquisition</option>
                  <option value="under procurement">Under Procurement</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Slippage</label>                  
                  
          <select name="slippage" class="custom-select form-control"  id="id_slippage">
          <option>{{ project.slippage }}</option>  
          <option value="Negative">Negative</option>
          <option value="Positive">Positive</option>
          <option value="Pending">Pending</option>
          <option value="Terminated">Terminated</option>
          <option value="Blanks">Blanks</option>
          </select>
                </div>
              </div>
            </div>
            <!-- /.row -->
            <div class="row">              
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Agency</label>                  
                  
                  <select name="agency" class="custom-select form-control"  id="id_agency">
              <option>{{ project.agency }}</option> 
          <option value="CAAP">CAAP</option>
          <option value="DOTr">DOTr</option>
          </select> 
                </div>
              </div>
              </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
           <label>Area</label>                  
          <select name="area" class="custom-select form-control"  id="id_area">
          <option>{{ project.area }}</option> 
          <option value="area 1">AREA 1</option>
          <option value="area 2">AREA 2</option>
          <option value="area 3">AREA 3</option>
          <option value="area 4">AREA 4</option>
          <option value="area 5">AREA 5</option>
          <option value="area 6">AREA 6</option>
          <option value="area 7">AREA 7</option>
          <option value="area 8">AREA 8</option>
          <option value="area 9">AREA 9</option>
          <option value="area 10">AREA 10</option>
          <option value="area 11">AREA 11</option>
          <option value="area 12">AREA 12</option>
          <option value="CATC">CATC</option>
          <option value="Head Office">Head Office</option>
          <option value="Blank">Blank</option></select>
                </div>
              </div>           
            
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Region</label>                  
                  
                  <select name="region" class="custom-select form-control"  id="id_region"> 
                 <option>{{ project.region }}</option>  
                  <option value="Region 1">Region 1</option>
                  <option value="Region 2">Region 2</option>
                  <option value="Region 3">Region 3</option>
                  <option value="Region 4.A">Region 4.A</option>
                  <option value="Region 4.B">Region 4.B</option>
                  <option value="Region 5">Region 5</option>
                  <option value="Region 6">Region 6</option>
                  <option value="Region 7">Region 7</option>
                  <option value="Region 8">Region 8</option>
                  <option value="Region 9">Region 9</option>
                  <option value="Region 10">Region 10</option>
                  <option value="Region 11">Region 11</option>
                  <option value="Region 12">Region 12</option>
                  <option value="Region 12/BARMM">Region 12/BARMM</option>
                  <option value="CARAGA (Region 13)">CARAGA (Region 13)</option>
                  <option value="Blank">Blank</option>
        </select> 
                </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Certificate</label>                  
                  
                  <select name="certificate" class="custom-select form-control"  id="id_certificate">
                   <option>{{ project.certificate }}</option>  

          <option value="w/ Certificate of Final Acceptance">w/ Certificate of Final Acceptance</option>
          <option value="w/ Certificate of Final Completion">w/ Certificate of Final Completion</option>
          <option value="w/o Certificate">w/o Certificate</option>
          <option value="Blank">Blank</option>
          </select>
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Recouped Ad. Payment</label>                  
                  
          <select name="recouped_pay" class="custom-select form-control"  id="id_recouped_pay"> 
          <option>{{ project.recouped_pay }}</option>  

          <option value="Done">Done</option>
          <option value="None">None</option>
          <option value="Processing">Processing</option>
          <option value="Blank">Blank</option>
        </select>
                </div>
              </div>
              </div>
         <div class="row">
          <div class="col-md-6">
             <div class="form-group ">
              <label>Project Progress Status %</label>                  
              <input id="range" type="text" name="progress" value="">
             </div>
            </div>
          </div>
            </div>

            <!-- /.row -->

            </div>
        </div>

  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success btn-lg">Update</button>  
  </div>  
   </div>  
  </div>  
 </form>  
{% endblock content %}   


{% block script %}
<script>
    $(document).ready(function () {
    
  });

    $('#range').ionRangeSlider({
      min     : 0,
      max     : 100,
      from    : {{ project.progress }},
      type    : 'single',
      step    : 1,
      postfix : '%',
      prettify: false,
      hasGrid : true
    })

      $('#summernote_funding').summernote({
        placeholder: 'Input Funding Particulars',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });

      $('#summernote_contdesc').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });

      $('#summernote_desc').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });

      $('#summernote_projprofile').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });

      $('#summernote_status_desc').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script> 

{% endblock script %}  