{% extends "base3.html" %}
{% load bootstrap %}

{{ form|bootstrap }}
<!-- Page title goes here -->
{% block header %}
Vaccine Update Page
{% endblock %} 

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Vacine</a></li>
    <li class="breadcrumb-item active">Update Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form method="POST" enctype="multipart/form-data" action="/pds/updateVax/{{vaccine.id}}">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Vaccine Page</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
        <h3>First Dose</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Vaccine Manufacturer</label>
                  <select class="form-control" name="name1">
                    <option value="{{ vaccine.name1 }}">{{ vaccine.name1 }}</option>
                    <option value="Pfizer BioNTech">Pfizer BioNTech</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Janssen">Janssen</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac-CoronaVac">Sinovac-CoronaVac</option>
                    <option value="COVAXIN">COVAXIN</option>
                    <option value="Gamaleya Sputnik V">Gamaleya Sputnik V</option>
                    <option value="Bharat BioTech">Bharat BioTech</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <label>Date of Vaccine</label>
                  <input type="date" class="form-control" name="date1" value="{{ vaccine.date1|date:"Y-m-d" }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Place of Vaccine</label>
                  <input type="text" class="form-control" name="place1" required maxlength="100" value="{{ vaccine.place1 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">              
              <div class="col-md-12">
                <div class="form-group">
                  Upload image (jpg, jpeg, gif) <input type="file"  name="file1"  />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          <hr>
            <h3>Second Dose</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Vaccine Manufacturer</label>
                  <select class="form-control" name="name2" >
                    <option value="{{ vaccine.name2 }}">{{ vaccine.name2 }}</option>
                    <option value="Pfizer BioNTech">Pfizer BioNTech</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Janssen">Janssen</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac-CoronaVac">Sinovac-CoronaVac</option>
                    <option value="COVAXIN">COVAXIN</option>
                    <option value="Gamaleya Sputnik V">Gamaleya Sputnik V</option>
                    <option value="Bharat BioTech">Bharat BioTech</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <label>Date of Vaccine</label>
                  <input type="date" class="form-control" name="date2" value="{{ vaccine.date2|date:"Y-m-d" }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Place of Vaccine</label>
                  <input type="text" class="form-control" name="place2" required maxlength="100" value="{{ vaccine.place2 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">              
              <div class="col-md-12">
                <div class="form-group">
                  Upload image (jpg, jpeg, gif) <input type="file"  name="file2" value="{{ vaccine.file2 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
              <hr>  
            <h3>Booster</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Vaccine Manufacturer</label>
                  <select class="form-control" name="name3" >
                    <option value="{{ vaccine.name3 }}">{{ vaccine.name3 }}</option>
                    <option value="Pfizer BioNTech">Pfizer BioNTech</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Janssen">Janssen</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac-CoronaVac">Sinovac-CoronaVac</option>
                    <option value="COVAXIN">COVAXIN</option>
                    <option value="Gamaleya Sputnik V">Gamaleya Sputnik V</option>
                    <option value="Bharat BioTech">Bharat BioTech</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <label>Date of Vaccine</label>
                  <input type="date" class="form-control" name="date3" value="{{ vaccine.date3|date:"Y-m-d" }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Place of Vaccine</label>
                   <input type="text" class="form-control" name="place3" required maxlength="100" value="{{ vaccine.place3 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">              
              <div class="col-md-12">
                <div class="form-group">
                  Upload image (jpg, jpeg, gif) <input type="file" name="file3" value="{{ vaccine.file3 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

             <hr>  
            <h3>Second Booster</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Vaccine Manufacturer</label>
                  <select class="form-control" name="name4" >
                    <option value="{{ vaccine.name4 }}">{{ vaccine.name4 }}</option>
                    <option value="Pfizer BioNTech">Pfizer BioNTech</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Janssen">Janssen</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac-CoronaVac">Sinovac-CoronaVac</option>
                    <option value="COVAXIN">COVAXIN</option>
                    <option value="Gamaleya Sputnik V">Gamaleya Sputnik V</option>
                    <option value="Bharat BioTech">Bharat BioTech</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <label>Date of Vaccine</label>
                  <input type="date" class="form-control" name="date4" value="{{ vaccine.date4|date:"Y-m-d" }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Place of Vaccine</label>
                   <input type="text" class="form-control" name="place4" required maxlength="100" value="{{ vaccine.place4 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">              
              <div class="col-md-12">
                <div class="form-group">
                  Upload image (jpg, jpeg, gif) <input type="file" name="file4" value="{{ vaccine.file4 }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Childre information -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  | 
    <a href="/pds/vaccine" class="btn btn-danger">Back</a>
    </div>  
  </div>
</div>

  <br><br><br>
</form> 
{% endblock %}