{% extends "base2.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}
VI. VOLUNTARY WORK OR INVOLVEMENT IN CIVIL / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORGANIZATION/S Update Page
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">PDS</a></li>
    <li class="breadcrumb-item active">VOLUNTARY WORK OR INVOLVEMENT IN CIVIL Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Personal Information -->
<br>
<form method="POST" class="post-form" action="/pds/voluntaryUpdate/{{vol.id}}">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">VI. VOLUNTARY WORK OR INVOLVEMENT IN CIVIL / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORGANIZATION/S</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <label>NAME & ADDRESS OF ORGANIZATION   </label>
                  <input type="text" class="form-control" name="name" required maxlength="100" value="{{ vol.name }}" />
                <!-- /.form-group -->
              </div>
              <!-- /.col -->            
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date From</label>
                  <input type="date" class="form-control" name="vol_from" value="{{ vol.vol_from|date:"Y-m-d" }}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Date From</label>
                  <input type="date" class="form-control" name="vol_to" value="{{ vol.vol_to|date:"Y-m-d" }}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->              
            </div>
            <!-- /.row -->


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>POSITION / NATURE OF WORK</label>
                  <input type="text" class="form-control" name="position" required maxlength="100" value="{{ vol.position }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>NUMBER OF HOURS</label>
                  <input type="text" class="form-control" name="hours" required maxlength="100" value="{{ vol.hours }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              
            </div>
            <!-- /.row -->
          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Childre information -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  | 
    <a href="/pds/personalinfo3" class="btn btn-danger">Back</a> 
    </div>  
  </div>
</div>

  <br><br><br>
</form>  
{% endblock %}