{% extends "base_admin2.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}
Update Item of <b> {{ pds.surname }} , {{ pds.first_name }} &nbsp; {{ pds.middle_name }}</b>
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">PDS</a></li>
    <li class="breadcrumb-item active">Item Update</li> 
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Personal Information -->
  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }} for {{ field.name}}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form method="POST" class="post-form" action="/pds/statusUpdate/{{pds.id}}">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Personnel Item Form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Employment Status</label>
                    <select class="form-control" name="emp_type" >
                      <option>Separated</option>
                      <option>Permanent</option>
                      <option>Presidential Appointee</option>
                      <option>Co-terminous</option>
                      <option>Temporary</option>
                      <option>Job Order</option>
                      <option value="Outsourced">Outsourced (LSERV)</option>
                      <option>Contract of Service</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mode Of Separation <span style="color:red">(Required if for Employment Separation)</span></label>
                  <select class="form-control" name="mode_separate">
                      <option value="{{ pds.mode_separate }}">{{ pds.mode_separate }}</option>
                      <option>Resignation</option>
                      <option>Optional Retirement</option>
                      <option>Compulsory Retirement</option>
                      <option>Early Retirement</option>
                      <option>Dismissal from the Service</option>
                      <option>Dropped from the Rolls</option>
                      <option>Death</option>
                      <option>Transfer to other Agency</option>
                      <option>End of contract</option>
                      <option>Terminated</option>
                      <option>End of term</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Separation Date <span style="color:red">(Required if for Employment Separation)</span></label>
                  <input type="date" class="form-control" name="separate_date" value="{{ pds.separate_date|date:"Y-m-d" }}"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
          <!-- End Status Update -->

           <div class="form-group row"  align="center">  
              <div class="col-sm-4">  
              <button type="submit" class="btn btn-primary">Update</button>  
              </div>  
            </div>
          </div>
      <!-- /.card-body -->
   <div class="card-footer">
   </div>
 </div>
<!-- End family Background -->

  <br><br><br>
</form>  
{% endblock %}