{% extends "base_admin2.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}
Create Position 
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Position</a></li>
    <li class="breadcrumb-item active">Create Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Personal Information -->
{% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }} {{ field.name }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form method="POST" class="post-form" action=" ">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Position Form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Position Name</label>
                  <input type="text" name="name" required class="form-control" maxlength="100">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <div class="form-group">
                  <label>Classification</label>
                  <select class="form-control" name="classification" required>
                    <option value=""></option>
                    <option>Technical</option>
                    <option>Non-Technical</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->

            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>GCG</label>
                  <select class="form-control" name="gcg" required>
                    <option value=""></option>
                    <option>Senior Management</option>
                    <option>Middle Management</option>
                    <option>Proffesional & Supervisory</option>
                    <option>Clerical & General Staff</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <div class="form-group">
                  <label>DOTR</label>
                  <select class="form-control" name="dotr" required>
                    <option value=""></option>
                    <option>Technical</option>
                    <option>Administrative & Finance Support</option>                    
                    <option>Key Positions</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->

            </div>
            <!-- /.row -->

          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Item -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Update</button>  | 
    <a href="/pds/position" class="btn btn-danger">Back</a>
    </div>  
  </div>
</div>
   <div class="card-footer">
   </div>
 </div>
<!-- End family Background -->

  <br><br><br>
</form>  
{% endblock %}