{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CAAP Airports</title>
  <link rel="stylesheet" href="{% static 'dist/css/styles_airports_area.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body style="background-color:#92B5F3;"> 
  <div class="header" width="1800px">
    <img src="https://caap.gov.ph/bdd/images/caap-banner.png" width="1800px">
  </div>
  <div id="Home">
      <a href="/dashboard" class="btn btn-app" style='font-size:15px'><i class="fas fa-tachometer-alt" aria-hidden="true" style='font-size:20px'></i> Dashboard </a>
    </div>

  <div class="container">
    
  </div>

</body>
</html>