{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>HRMD PDS ONLINE</title>
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition register-page">
<div class="col-md-9">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h1"><b>DATA PRIVACY NOTICE</b> </a>
    </div> 
    <div class="card-body">
      <p>The Civil Aviation Authority of the Philippines (CAAP), in line with <b>Republic Act 10173</b> or the <b> Data Privacy Act of 2012</b>, is committed to protect and secure personal information obtained from this portal.
      </p>
      <p>
      In compliance with the requirements of Data Privacy Act of 2012, the CAAP commits to ensure that all personal information obtained will be secured and remain confidential. Collected personal information will only be utilized for purposes of processing of applications, documentation, research, if applicable, and facilitation of future transaction. The personal information shall not be shared or disclosed with parties without consent unless the disclosure is required by, or in compliance with applicable laws and regulations.
      </p>
    
      <a href="/pds/signup" class="text-center">Return to Sign up</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
