<div class="row" >
  <div class="col" ><b>CS FORM 212</b> <br><i>Revised 2017</i></div>
  <div class="col" ><h1 align="center"><br><b>PERSONAL DATA SHEET</b></h1><br></div>
</div>

<div class="row" >
  <div class="col" ><b>WARNING: Any misrepresentation made in the Personal Data Sheet and the Work Experience Sheet shall cause the filing of administrative/criminal case/s against the person concerned.</b></div>
</div>
<div class="row" >
  <div class="col" ><b>READ THE ATTACHED GUIDE TO FILLING OUT THE PERSONAL DATA SHEET (PDS) BEFORE ACCOMPLISHING THE PDS FORM.</b></div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td>
    Print legibly. Tick appropriate boxes (     ) and use separate sheet if necessary.
  </td>
  <td>Indicate N/A if not applicable.  DO NOT ABBREVIATE.</td>
  <td width="30%" style="background-color:gray; color:white;border-style: solid ;border-width: 2px;">1. CS ID No.</td>
  <td width="20%" style="border-style: solid ;border-width: 2px;"><p align="right">(to be filled up by CSC)</td>
</tr>
</table>
<div class="row" >
  <div class="col" style="background-color:gray;"><h3 style=" color:white;"> I. PERSONAL INFORMATION </h3></div>
</div>

<!-- bjkkbkbkbkjkb -->
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">2. SURNAME</div>
  <div class="col-sm-10" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.surname|upper}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">FIRST NAME</div>
  <div class="col-sm-5" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.first_name|upper}}</h3></b></div>  
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">3. NAME EXTENSION (e.g. Jr., Sr.)</div>
  <div class="col-sm-3" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.ext_name|upper}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">MIDDLE NAME</div>
  <div class="col-sm-10" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.middle_name|upper}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">DATE OF BIRTH (mm/dd/yyyy)</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.birth_date|date:"m/d/Y"}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">CITIZENSHIP</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"><b><h3>{{pds.citizenship|title}}</h3></b></div>
</div>
<div class="row" >
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;">Place of Birth</div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 2px;"><b><h3>{{pds.birth_place}}</h3></b></div>
  <div class="col-sm-2" style="background-color:#E6E7E6;border-style: solid ;border-width: 0px;">If holder of  dual citizenship, </div>
  <div class="col-sm-4" style="border-style: solid ;border-width: 0px;"></div>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;" width="20%">
      SURNAME
    </td>
    <td style="border-style: solid ;border-width: 2px;">
      <b><h3>{{pds.surname|upper}}</h3></b>
    </td>
  </tr>
  <tr>
    <td style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;" width="50%">
      FIRST NAME
    </td>
    <td style="border-style: solid ;border-width: 2px;">
      <b><h3>{{pds.first_name|upper}}</h3 width="30%"></b>
    </td>
    <td style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;" width="20%">
      NAME EXTENSION (e.g. Jr., Sr.)
    </td>
    <td style="border-style: solid ;border-width: 2px;">
      <b><h3>{{pds.ext_name|upper}}</h3></b>
    </td>
  </tr>
  <tr>
    <td style="background-color:#E6E7E6;border-style: solid ;border-width: 2px;" width="20%">
      MIDDLE NAME
    </td>
    <td style="border-style: solid ;border-width: 2px;">
      <b><h3>{{pds.middle_name|upper}}</h3></b>
    </td>
  </tr>

</table>