{% extends "base_admin.html" %}
{% load humanize %}

{% load bootstrap %}

{{ form|bootstrap }}
<!-- Page title goes here -->
{% block header %}
Create Payroll
{% endblock %}



<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Personnel</a></li>
    <li class="breadcrumb-item active">Create Payroll</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Training Create Page -->
  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }} for {{ field.name}}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form action="/pds/editPayroll" method="POST" class="post-form">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Payroll Form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>User ID (Ex. 123)</label>
                  <input value="{{payroll.payroll.id }} " type="text" class="form-control" name="payroll" required maxlength="100" />
                  <!-- {{form1.payroll|bootstrap}} -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Surname </label>
                  <input value="{{payroll.surname }} " type="text" class="form-control" name="surname" required maxlength="100" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>First Name </label>
                  <input value="{{payroll.first_name }}" type="text" class="form-control" name="first_name" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Office </label>
                  <select class="form-control" name="office">
                    <option value="{{payroll.office }}">{{payroll.office }}</option>
                    <option>ELS</option>
                    <option>OFSAM</option>
                    <option>IAS</option>
                    <option>ODG</option>
                    <option>FMD</option>
                    <option>FSIS</option>
                    <option>CSIS</option>
                    <option>CATC</option>
                    <option>ATS</option>
                    <option>ANS</option>
                    <option>ADMS</option>
                    <option>ADMIN</option>
                    <option>AANSOO</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>731 (Life and Retirement Insurance Contribution)</label>
                  <input value="{{payroll.pay_731|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_731" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>732 (PAG-IBIG Contributions)</label>
                  <input value="{{payroll.pay_732|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_732" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>733 (PHILHEALTH Contributions)</label>
                  <input value="{{payroll.pay_733|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_733" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>734 (ECC Contributions)</label>
                  <input value="{{payroll.pay_734|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_734" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row --> 

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>701 (Salaries and Wages )</label>
                  <input value="{{payroll.pay_701|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_701" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>412 (Due to BIR)</label>
                  <input value="{{payroll.pay_412|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_412" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-1 (Due to GSIS)</label>
                  <input value="{{payroll.pay_413_1|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_1" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-1 (Due to Pagibig)</label>
                  <input value="{{payroll.pay_414_1|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_1" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>415 (Due to Philhealth)</label>
                  <input value="{{payroll.pay_415|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_415" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-6 (Other Payables)</label>
                  <input value="{{payroll.pay_439_6|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_6" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-2 (GSIS Unlimited Optional Life Insurance)</label>
                  <input value="{{payroll.pay_413_2|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_2" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-3 (GSIS Unlimited Optional Life Insurance Loan)</label>
                  <input value="{{payroll.pay_413_3|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_3" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-5 (GSIS Policy Loan)</label>
                  <input value="{{payroll.pay_413_5|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_5" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-6 (GSIS Real State Loan)</label>
                  <input value="{{payroll.pay_413_6|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_6" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-11E (GSIS Educational Assistance)</label>
                  <input value="{{payroll.pay_413_11e|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_11e" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-14 (GSIS New Emergency Loan)</label>
                  <input value="{{payroll.pay_413_14|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_14" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-15 (GSIS Consolidated Salary Loan)</label>
                  <input value="{{payroll.pay_413_15|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_15" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-16 (GSIS E-Card Plus Cash Advance Loan)</label>
                  <input value="{{payroll.pay_413_16|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_16" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-17 (GSIS-HELP)</label>
                  <input value="{{payroll.pay_413_17|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_17" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-18 (GSIS-GFAL)</label>
                  <input value="{{payroll.pay_413_18|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_18" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-19 (GSIS-MPL)</label>
                  <input value="{{payroll.pay_413_19|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_19" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>413-20 (Computer Loan)</label>
                  <input value="{{payroll.pay_413_20|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_413_20" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-1A (Modified Pag-ibig 2)</label>
                  <input value="{{payroll.pay_414_1a|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_1a" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-2 (HNMC Housing Loan)</label>
                  <input value="{{payroll.pay_414_2|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_2" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-2A (Pag-ibig Housing Loan)</label>
                  <input value="{{payroll.pay_414_2a|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_2a" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-3 (Pag-ibig Multi-Purpose Loan)</label>
                  <input value="{{payroll.pay_414_3|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_3" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>414-3A (Pag-ibig Calamity Loan)</label>
                  <input value="{{payroll.pay_414_3a|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_414_3a" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-8 (AWMSLAI (BBP))</label>
                  <input value="{{payroll.pay_439_8|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_8" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-9 (AWMSLAI (BMM))</label>
                  <input value="{{payroll.pay_439_9|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_9" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-10 (AWMSLAI Consumption Loan)</label>
                  <input value="{{payroll.pay_439_10|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_10" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-10A (AWMSLAI Emergency Loan)</label>
                  <input value="{{payroll.pay_439_10a|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_10a" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-10B (AWMSLAI Credit Card Loan)</label>
                  <input value="{{payroll.pay_439_10b|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_10b" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-12 (AWMSLAI (MBF))</label>
                  <input value="{{payroll.pay_439_12|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_12" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-13 (ATO Multi-Purpose Coop Loan)</label>
                  <input value="{{payroll.pay_439_13|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_13" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-16 (Insular Life Insurance)</label>
                  <input value="{{payroll.pay_439_16|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_16" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-18 (Manila Bankers Hospitalization Plan)</label>
                  <input value="{{payroll.pay_439_18|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_18" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-19 (Manila Bankers Life & Accident Plan)</label>
                  <input value="{{payroll.pay_439_19|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_19" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-21 (PATCOMC Loan/Membership Premium)</label>
                  <input value="{{payroll.pay_439_21|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_21" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-22 (Philamlife Insurance)</label>
                  <input value="{{payroll.pay_439_22|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_22" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-28 (LBP Loan)</label>
                  <input value="{{payroll.pay_439_28|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_28" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-33 (OPANS-EATO)</label>
                  <input value="{{payroll.pay_439_33|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_33" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-34 (CAAP EMPC)</label>
                  <input value="{{payroll.pay_439_34|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_34" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>439-35 (CAAP Union Dues)</label>
                  <input value="{{payroll.pay_439_35|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_439_35" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>146 (Receivables-Disallowances/Charges)</label>
                  <input value="{{payroll.pay_146|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_146" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>148 (Advances to Officers and Employees)</label>
                  <input value="{{payroll.pay_148|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_148" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>149-TAX</label>
                  <input value="{{payroll.pay_149_tax|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_149_tax" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>711 (Personnel Economic Relief Allow. (PERA))</label>
                  <input value="{{payroll.pay_711|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_711" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>749-OSP</label>
                  <input value="{{payroll.pay_749_osp|default_if_none:"0.00" }} " type="text" class="form-control" name="pay_749_osp" required maxlength="100"/>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Remarks ()</label>
                  <textarea class="form-control" name="remarks" rows="6">{{payroll.remarks|default_if_none:"" }}</textarea>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->          


          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Item -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">SAVE</button>  
    </div>  
  </div>
</div>
   <div class="card-footer">
   </div>
 </div>
<!-- End family Background -->

  <br><br><br>
</form>  
{% endblock %}