{% extends "base_admin2.html" %}

<!-- Page title goes here -->
{% block header %}
Training Record Summary
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Personnel</a></li>
    <li class="breadcrumb-item active">Education</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- <a href="/pds/createTrainings/{{personal.pk }}" class="btn btn-app" style="background-color:#43494D; color: white"><i class="fa fa-plus"></i> Training</a> -->

<table class="table table-bordered" style="background-color: white">
  <tr>
    <td width="20%" colspan="2" align="center"><img src="/static/media/photo/caap_logo.png" alt="caap_logo" width="50%"></td>
    <td colspan="14"><h4 align="center">Civil Aviation Authority of the Philippines
      <br><strong>Education</strong></h4>
    </td>
  </tr>
  <tr>
    <td width="20%" colspan="2">NAME</td>
    <td colspan="6"><strong>{{ personal.surname }} ,&nbsp; {{ personal.first_name }} &nbsp;&nbsp;&nbsp;{{ personal.middle_name }}<strong></td>
  </tr>
  <tr>
    <td width="20%" colspan="2">POSITION</td>
    <td colspan="6">{{ personal.position_title }}</td>
  </tr>
  <tr>
    <td width="20%" colspan="2">PLACE OF ASSIGNMENT</td>
    <td  colspan="6">{{ personal.office }}</td>
  </tr>
  <tr style="background-color: darkgray; color:white;">
    <td>LEVEL</td>
    <td>NAME OF SCHOOL</td>
    <td>DEGREE COURSE</td>
    <td>YEAR GRADUATED</td>
    <td>HIGHEST GRADE/ LEVEL/ UNITS EARNED</td>
    <td>INCLUSIVE DATES OF ATTENDANCE</td>
    <td>INCLUSIVE DATES OF ATTENDANCE</td>
    <td>SCHOLARSHIP/ ACADEMIC HONORS RECEIVED</td>
  </tr>
{% if education %}
  {% for educ in education %}
  <tr>
    <td> {{ educ.level }} </td>
    <td> {{ educ.school }} </td>
    <td> {{ educ.course }} </td>
    <td> {{ educ.date_from }} </td>
    <td> {{ educ.date_to }} </td>
    <td> {{ educ.units }} </td>
    <td> {{ educ.grad_year }} </td>
    <td> {{ educ.honors }} </td>
  </tr> 
  {% endfor %}
{% else %}
<tr>
  <td colspan="13" ><b style="color: red;">No Training Record</b></td>
</tr>
{% endif %}
</table>

{% endblock %}
