<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <remove extension=".html" />
                <remove extension=".pdf" />
                <remove extension=".py" />
                <add extension=".py" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:01" />
                <add extension=".pdf" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:01" />
                <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:01" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
