{% extends "base_project.html" %}
{% load static %}
{% load humanize %}
{% block title %}Airport Project Records{% endblock title %}

{% block content %}

<!-- Search Permanent Header -->

<style>
  .form-inline {
    display: inline-block;
  }


  .body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .search-icon {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .search {
    flex: 1;
    padding: 10px;
    border: none;
  }

  .search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'dist/css_projects/project-table.css' %}">
</head>


  <header><h2 align="center" > {{name}} Projects</h2> <br><br></header>

  <!-- <form class="form-inline" method="POST" class="post-form" action="/dashboard/searchbar">
    {% csrf_token %}
  <div class="search-container">
    <div class="search-icon">
      <i class="fa fa-search"></i>
    </div>
    <input type="text" class="search" name="search" placeholder="Search...">
    <button class="search-button">Search</button>
  </div>
  </form> -->
  
  <a href="/dashboard/add_project" class="btn btn-app" style="background-color:#43494D; color: white"><i class="fa fa-plus"></i> Projects  </a>

  <form class="form-inline" method="POST" class="post-form" action="/dashboard/searchbar">
    {% csrf_token %}
  <div class="search-container">
    <div class="search-icon">
      <i class="fa fa-search"></i>
    </div>
    <input type="text" class="search" name="search" placeholder="Search...">
    <button class="search-button">Search</button>
  </div>
  </form>
  <!-- <form class="form-inline" method="POST" class="post-form" action="/dashboard/searchbar">
    {% csrf_token %}
    <input type="text" name="search" placeholder="Search by project name...">
    <button type="submit">Search</button>
  </form> -->

    <div class="section-block">
      <section class="project-sect1">
        <div class="card">
          <table class="card-table">
            <thead>
              
              <tr>
                <th>ID #</th>
                <th style="text-align: left;">Project Name</th>
                <th>Location</th>
                <th>Contractor</th>
                <th>Project Progress</th>
                <th>Current Status</th>
                <th>Action</th>
              </tr>
            </thead> 
            <tbody>
              {% for project in projects %}
              <tr>
                <!-- ID NUMBER -->
                <td class="pid">{{ project.id }}</td>

                <!-- PROJECT NAME -->
                
                <td class="pname"><a  class="pname-link" href="view/{{ project.id }} "> {{ project.title|safe}}</a></td>

                <!-- PROJECT LOCATION -->
                
                <td ><b> {{ project.location|title}} </b></td>
                <td > {{ project.contract_contractor|title}} </td>

                <!-- PROJECT PROGRESS -->
                <td class="">
                  <div id="" class="progress progress-sm">
                    <!-- change color based on percentage -->
                    {% if project.progress >= 90 and project.progress <= 100 %}
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 75 and project.progress <= 89  %}
                      <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 30 and project.progress <= 74  %}
                      <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 0 and project.progress <= 29 %}
                      <div class="progress-bar bg-red" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                  </div>
                  <p>{{ project.progress }}% Complete</p>

                </td>
           
                {% if "Project completed" in project.status or "Completed" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-success btn-sm">Complete</button> </td>                
                {% elif "On- going" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-primary btn-sm">On-Going</button> </td>

                {% elif "SAC" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-warning btn-sm">SAC</button> </td>
                {% elif "under procurement" in project.status or "Under procurement" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-danger btn-sm">Under procurement</button> </td>
                {% else %}
                <td class="pstatus"><button type="button" class="btn btn-secondary btn-sm">{{ project.status }}</button></td>

                {% endif %}
                <td>
                  
                    <a href="/dashboard/edit/{{ project.id }}" class="btn btn-block btn-outline-primary" >
                      <span class="fa fa-edit"> </span>
                    </a>
                </td>  


              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    
    </div>
{% endblock content %}

