
<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
        <h3 class="card-title">Post </h3>
            <div class="card-tools">
              <p class="btn btn-tool" style="color: black;">December 12, 2022</p>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
        </div>

        <div class="card-body">
            <h2>CAAP Employees' Union Executive Board WINNERS </h2>
            <div class="mySlides">
              <div class="numbertext">1 / 4</div>
              <img src="/media/Post/eu/euvote1.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 4</div>
              <img src="/media/Post/eu/euvote2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">3 / 4</div>
              <img src="/media/Post/eu/euvote4.png" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 4</div>
              <img src="/media/Post/eu/euvote5.png" style="width:100%">
            </div>
              
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <div class="row">
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote1.jpg" style="width:100%" onclick="currentSlide(1)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote2.jpg" style="width:100%" onclick="currentSlide(2)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote4.png" style="width:100%" onclick="currentSlide(3)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote5.png" style="width:100%" onclick="currentSlide(4)" alt="EU Winner">
              </div>
            </div>

        </div>
        <!-- /.card-body-->
    </div>
    </div>