{% extends "base3.html" %}
{% load humanize %}
<!-- Page title goes here -->
{% block header %}
Announcement Page
{% endblock %}
{% block head %}
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>
{% endblock head %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Announcement</a></li>
    <li class="breadcrumb-item active">Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}

<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
        <h3 class="card-title">Post </h3>
            <div class="card-tools">
              <p class="btn btn-tool" style="color: black;">March 21, 2023</p>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
        </div>

        <div class="card-body">
            <h2>CAAP Employees' Union Executive Board WINNERS </h2>
            <div class="mySlides">
              <div class="numbertext">1 / 4</div>
              <img src="/media/Post/eu/euvote1.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 4</div>
              <img src="/media/Post/eu/euvote2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">3 / 4</div>
              <img src="/media/Post/eu/euvote4.png" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 4</div>
              <img src="/media/Post/eu/euvote5.png" style="width:100%">
            </div>
              
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <div class="row">
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote1.jpg" style="width:100%" onclick="currentSlide(1)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote2.jpg" style="width:100%" onclick="currentSlide(2)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote4.png" style="width:100%" onclick="currentSlide(3)" alt="EU Winner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/eu/euvote5.png" style="width:100%" onclick="currentSlide(4)" alt="EU Winner">
              </div>
            </div>

        </div>
        <!-- /.card-body-->
    </div>
    </div>

{% if data %}
  {% for post in data %}
  
    <div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
        <h3 class="card-title">Post </h3>
            <div class="card-tools">
              <p class="btn btn-tool" style="color: black;">{{ post.post_date }}</p>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
        </div>

        <div class="card-body">
            <h2>{{ post.title }}</h2>

            <h4>
              {% if post.post == "None" %}
              {% else %}
                {{ post.post|default_if_none:""}}
              {% endif %}
          </h4>

            {% if post.file %}
                {% if post.ext == "mp4" %}
                  <video width="100%" controls autoplay muted>
                    <source src="/media/{{ post.file }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                {% endif %}

                {% if post.ext == "jpg" %}
                  <img src="/media/{{ post.file }}" width="100%">
                {% endif %}

                {% if post.ext == "jpeg" %}
                  <img src="/media/{{ post.file }}" width="100%">
                {% endif %}

                {% if post.ext == "png" %}
                  <img src="/media/{{ post.file }}" width="100%">
                {% endif %}

                {% if post.ext == "gif" %}
                  <img src="/media/{{ post.file }}" width="100%">
                {% endif %}

                {% if post.ext == "pdf" %}
                 <a href="/media/{{ post.file }}" download class="btn btn-app" style="background-color:#43494D; color: white"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                {% endif %}
            {% endif %}
        </div>
        <!-- /.card-body-->
    </div>
    </div>
  {% endfor %}
{% endif %}

 
{% endblock %}

{% block script %}
<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% endblock script %}