{% extends "base_project.html" %}
 
{% block header %}Airport Profile List{% endblock header %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Airport Profile</a></li>
    <li class="breadcrumb-item active">
        Airport List
    </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<form method="POST" action="/dashboard/aerodrome_search_dashboard">
    {% csrf_token %}  
      <div class="row">
        <!-- Aerodrome Search -->    
        <div class="col-3">
            <div class="form-group">
              <label>Area Center:</label>
              <select name="search_area" class="select2 form-control form-control-lg" style="width: 100%;">
                <option value="">-- Area Center --</option>
                <option>Area Center 1</option>
                <option>Area Center 2</option>
                <option>Area Center 3</option>
                <option>Area Center 4</option>
                <option>Area Center 5</option>
                <option>Area Center 6</option>
                <option>Area Center 7</option>
                <option>Area Center 8</option>
                <option>Area Center 9</option>
                <option>Area Center 10</option>
                <option>Area Center 11</option>
                <option>Area Center 12</option>
              </select>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-7">
            <div class="form-group">               
              <label>Airport Name:</label>
              <div class="input-group input-group-lg"> 
                <input type="search" name="search_airport" class="form-control form-control-lg" placeholder="Type Airport name here" >
              <div class="input-group-append">
                  <button type="submit" class="btn btn-lg btn-default">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
            </div>
          </div>
          <!-- ./col -->          
        </div>
      </div>
    </form>
<!-- /.row -->  
<hr><br>  
<div class="card-body">
        <table class="table table-hover table-striped">
            <tr style="background-color: #0E5497; color: #fff;">
                <th colspan="2">Airport</th>
                <th>Area</th>
                <th>Category</th>
                <th>Airport Manager/Contact</th>
                <th>Commercial Flight Yes/No</th>
                <th>Operation Hours</th>

            </tr>
            {% if aerodrome %}
                {% for airport in aerodrome %}                
            <tr>                
                <td style="width: 15%"><a href="/dashboard/aerodrome_profile/{{ airport.airportuid }}"><img src="/media/{{ airport.profile_photo }}" alt="{{ airport.name }}" class="img-thumbnail"  width="254" height="186"></a>
                </td>
                <td style="width: 2%"> <b style="font-size: 28px"><a href="/dashboard/aerodrome_profile/{{ airport.airportuid }}"> {{ airport.name }}</a>  </b></td>
                <td style="font-size: 21px">{{ airport.area_center }}</td>
                <td style="font-size: 21px">{{ airport.category }}</td>
                <td style="font-size: 21px"><b>
                      {% if  airport.airport_contact %}
                          {% if  airport.airport_contact != "None" %}
                          {{ airport.airport_contact|title}}
                          {% else %}                          
                          {% endif %}
                      {% else %}
                      {% endif %}</b></td>
                <td style="font-size: 21px">
                     {% if  airport.night_rating %}
                          {% if  airport.night_rating != "None" %}
                          {{ airport.night_rating|title}}
                          {% else %}                          
                          {% endif %}
                      {% else %}
                      {% endif %}
                </td>
                <td style="font-size: 21px"><b>
                    {% if  airport.operation_hours %}
                          {% if  airport.operation_hours != "None" %}
                          {{ airport.operation_hours|title}}
                          {% else %}                          
                          {% endif %}
                      {% else %}
                      {% endif %}</b></td>

            </tr>
                {% endfor %}
            {% else %}
                <p>No List</p>
            {% endif %}
        </table>
</div>
<!-- /.card-body -->
{% endblock content %}   