{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employee Portal</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-6.0.0-web/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">  
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
  <!-- Bar Chart -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'media/icons/favicon.ico' %}">

  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="{% static 'plugins/ekko-lightbox/ekko-lightbox.css' %}">
   {% block styles %}

  {% endblock styles %} 
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      {% if pds.id %}
      <li class="nav-item d-none d-sm-inline-block">       
            <a href="/pds" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">       
            <a href="/pds/personalinfo" class="nav-link">Personal Data</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">       
            <a href="/pds/announcement" class="nav-link">Announcement</a>
      </li>
      {% else %}
      <li class="nav-item d-none d-sm-inline-block">
            <a href="/pds" class="nav-link">Home</a>       
      </li>
      {% endif %}
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
     

      <!-- Messages Dropdown Menu -->
      
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-users-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">User Accounts</span>
          <div class="dropdown-divider"></div>
          <a href="/pds/settings/" class="dropdown-item">
            <i class="fas fa-cogs"></i> Account
          </a>
          
          
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer"></a>
        </div>
      </li>      
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/pds/help" >
          <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 25px;"></i>
        </a>
      </li>
      <li class="nav-item">
          <a href="/accounts/logout/" class="nav-link" >
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/pds/hr" class="brand-link">
      <img src="{% static 'media/photo/caap_logo.png' %}" alt="CAAP Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">HRMD </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if pds.id %}
          <img src="media/{{ request.user.pds_info.photo}}" class="img-circle elevation-2" alt="User Image">
          {% else %}
          <!-- <img src="media/photo/user-picture.png" class="img-circle elevation-2" alt="User Image"> -->
          {% endif %}
        </div>
        <div class="info">
          {% if pds.id %}
          <a href="/pds/personalinfo" class="d-block">
          {% else %}
          <a href="#" class="d-block">
          {% endif %}
          {{ request.user.username}} </a>
        </div>
      </div>

     

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
{% if pds.id %}
    {% if pds.status == "Approved" %}   
          <li class="nav-item has-treeview menu-open">         
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/pds/vaccine" class="nav-link">
                  <i class="fas fa-syringe"></i>
                  <p> &nbsp;&nbsp; VACCINE</p>
                </a>
              </li>
            </ul>       
          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                PDS View
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/pds/personalinfo" class="nav-link">
                  <i class="fas fa-file-alt"></i>
                  <p> &nbsp;&nbsp;Page 1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pds/personalinfo2" class="nav-link">
                  <i class="fas fa-file-alt"></i>
                  <p> &nbsp;&nbsp;Page 2</p>
                </a>
              </li>  
               <li class="nav-item">
                <a href="/pds/personalinfo3" class="nav-link">
                  <i class="fas fa-file-alt"></i>
                  <p> &nbsp;&nbsp;Page 3</p>
                </a>
              </li>  
              <li class="nav-item">
                <a href="/pds/personalinfo4" class="nav-link">
                  <i class="fas fa-file-alt"></i>
                  <p> &nbsp;&nbsp;Page 4</p>
                </a>
              </li>  
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">         
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/pds/announcement" class="nav-link">
                  <i class="fa fa-bullhorn"></i>
                  <p> &nbsp;&nbsp; Announcement</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">         
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/pds/reorg" class="nav-link">
                  <i class="fa fa-bullhorn"></i>
                  <p> &nbsp;&nbsp; CAAP Re-Organization Q&A</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">         
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/pds/faq" class="nav-link">
                  <i class="fa fa-question"></i>
                  <p> &nbsp;&nbsp; Frequently Asked Questions</p>
                </a>
              </li>
            </ul>
          </li>
          {% else %}

          {% endif %}                 
    {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% block header %}{% endblock header %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            {% block breadcrumb %}
            
            {% endblock breadcrumb %}
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <section class="content">
       {% block content %}

      {% endblock content %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b><a href="https://caap.gov.ph">Civil Aviation Authority of the Philippines</a></b>
    </div>
    <strong>CAAP Employee Portal</strong> 
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

{% block script %}

{% endblock script %} 

<!-- Ekko Lightbox -->
<script src="{% static 'plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
</body>
</html>
