{% extends "base_admin.html" %}
{% load bootstrap %}

{{ form|bootstrap }}

<!-- Page title goes here -->
{% block header %}
Salary Grade Update Page
{% endblock %}

<!-- Breadcrumb goes here -->
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Salary Grade</a></li>
    <li class="breadcrumb-item active"> Page</li>
</ol>
{% endblock breadcrumb %}

<!-- Page Content goes here -->
{% block content %}
<!-- Personal Information -->
  {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
<br>
<form method="POST" class="post-form" action="/pds/sg_update/{{data.id}}">  
  {% csrf_token %}
        <div class="card card-default">
          <div class="card-header">

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Salary Grade</label>
                  <input type="number" class="form-control" name="grade" required maxlength="100" value="{{ data.grade }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Step Increment</label>
                  <input type="number" class="form-control" name="step" required maxlength="100" value="{{ data.step }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Rate of Salary</label>
                  <input type="number" class="form-control" name="rate" required maxlength="100" value="{{ data.rate }}" />
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          <!-- /.card-body -->
          <div class="card-footer">
            
          </div>
        </div>
<!-- End Childre information -->

 <div class="form-group row"  align="center">  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Update</button>   | 
    <a href="/pds/sg" class="btn btn-danger">Back</a>
    </div>  
  </div>
</div>

  <br><br><br>
</form>  
{% endblock %}