{% extends "base_project.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<header><h2 align="center"> {{name}} Airport Projects</h2> <br><br></header>

<section class="content">
  
    <div class="row">
          <div class="container-fluid">
            <h2 class="text-center display-4">Search</h2>
            <form method="POST" action="/dashboard/project_search">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Sort Order:</label>
                                    <select name="search_order" class="select2 form-control form-control-lg" style="width: 100%;">
                                        <option value="title" selected>Project Name</option>
                                        <option value="location">Airport</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Agency:</label>
                                    <select name="search_agency" class="select2 form-control form-control-lg" style="width: 100%;">
                                        <option selected>CAAP</option>
                                        <option>DOTr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" name="search_project" class="form-control form-control-lg" placeholder="Type your project name here" >
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <!-- /.row -->

        <hr><br>
  
  <div class="invoice p-3 mb-3" style="background-color:#2471A3">
    <div class="card">
      <table class="table table-striped">  
        <thead>
          <tr>
            <th>ID #</th>
            <th>Project Title</th>
            <th>Project Description</th>
            <th>Location</th>
            <th>Contractor</th>
            <th>Project Progress</th>
            <th>%</th>
            <th>Current Status</th>
          </tr>
        </thead>
        <tbody>

          {% for project in projects %}
          <tr>
            <td>{{ project.id}}</td>
            <td><a  class="pname-link" href="/dashboard/view/{{ project.id }} "> {{ project.title|title}}</a></td>
            <td> {{ project.description|safe}}</td>
            <td style="width: 200px"><b> {{ project.location|title}} </b></td>
                <td > {{ project.contract_contractor|title}} </td>
            <td><div id="" class="progress progress-sm">
                    <!-- change color based on percentage -->
                    {% if project.progress >= 90 and project.progress <= 100 %}
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 75 and project.progress <= 89  %}
                      <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 30 and project.progress <= 74  %}
                      <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                    {% if project.progress >= 0 and project.progress <= 29 %}
                      <div class="progress-bar bg-red" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%">
                      </div>
                    {% endif %}
                  </div>
              </td>
            <td>{{ project.progress }}%</td>
            {% if "Project completed" in project.status or "Completed" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-success btn-sm">Complete</button> </td>                
                {% elif "On- going" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-primary btn-sm">On-Going</button> </td>

                {% elif "SAC" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-warning btn-sm">SAC</button> </td>
                {% elif "under procurement" in project.status or "Under procurement" in project.status %}
                <td class="pstatus"><button type="button" class="btn btn-danger btn-sm">Under procurement</button> </td>
                {% else %}
                <td class="pstatus"><button type="button" class="btn btn-secondary btn-sm">{{ project.status }}</button></td>

                {% endif %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}